{% extends 'layout.html.twig' %}

{% block title %}Administration : Affichage des réservations{% endblock %}

{% block content %}
    <h2>Administration : Affichage des réservations</h2>
    <form action="bookings/delete" method="post">
        <table id="tabAdminBookings">
            {% for booking in bookings %}
                <tr>
                    <td>
                        <b>#{{ booking.id }}</b>&nbsp;-&nbsp;
                        {{ booking.lastname }}&nbsp;-&nbsp;
                        {{ booking.firstname }}&nbsp;-&nbsp;
                        <a href="tel:{{ booking.phone }}">{{ booking.phone }}</a>&nbsp;-&nbsp;
                        <a href="mailto:{{ booking.email }}">{{ booking.email }}</a>&nbsp;-&nbsp;
                        {{ booking.date }}&nbsp;-&nbsp;
                        {{ booking.time }}
                        {% if booking.comment != '' %} <br> {{ booking.comment }} {% endif %}
                    </td>
                    <td><input type="submit" value="Supprimer" /></td>
                </tr>
            {% else %}
                <tr><td><b>Aucune réservation actuellement.</b></td></tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
